.add-todo_block {
  display: flex;
  justify-content: center;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-todo-input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  font-size: 16px;
}

.add-todo-input:active {
  border: none;
}

.add-todo-button {
  border: 1px solid white;
  background-color: inherit;
  color: white;
  padding: 7px 12px;
  margin-left: 10px;
}

.add-todo-selected-date {
  text-align: center;
  font-size: 20px;
}
