.addtodo_div {
display: flex;
  justify-content: center;
}

.addtodo_input {
  background-color: inherit;
  border:none;
  border-bottom: 1px solid white;
  color:white;
  outline:none;
  font-size:16px;
}

.addtodo_input:active {
  border:none;
}

.addtodo_button {
  border: 1px solid white;
  background-color: inherit;
  color:white;
  padding: 7px 12px;
  margin-left: 10px;
}